@(currentUser: femr.common.dto.CurrentUser, viewModel:femr.ui.models.research.FilterViewModel)

@import femr.ui.views.html.layouts.main
@import femr.ui.controllers.routes.ResearchController

    @additionalStyles = {
        <link rel="stylesheet" href="@routes.Assets.at("css/research.css")">
    }
    @additionalScripts = {
        <script type="text/javascript" src="@routes.Assets.at("js/research/d3.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/research/d3.tip.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/research/saveSvgAsPng.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/research/bar-graph.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/research/pie-graph.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/research/line-graph.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/research/scatter-plot.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/research/stacked-bar.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/research/grouped-bar.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/research/research.js")"></script>
    }

@main("Research", currentUser, styles = additionalStyles, scripts = additionalScripts) {

        <div class="row dropdown">
            <div class="col-sm-3 col-md-2 sidebar">

                @helper.form(action = ResearchController.getGraphPost(), 'id -> "graph-options") {
                    <div id="filter-errors">

                    </div>
                    <ul class="nav nav-sidebar">
                        <li id="gdata1-menu" class="menu-item">
                            <a class="opt-link">Primary Dataset</a>
                            <span class="val"></span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <ul class="submenu">
                                <li class="title">Demographics</li>
                                <li><a data-dname1="age" href="#">Age</a></li>
                                <li><a data-dname1="gender" href="#">Gender</a></li>
                                <li><a data-dname1="height" href="#">Height</a></li>
                                <li><a data-dname1="weight" href="#">Weight</a></li>
                                <li><a data-dname1="pregnancyStatus" href="#">Pregnancy Status</a></li>
                                <li><a data-dname1="pregnancyTime" href="#">Weeks Pregnant</a></li>
                               <li class="title">Medication</li>
                                <li><a data-dname1="prescribedMeds" href="#">Prescribed Medications</a></li>
                                <li><a data-dname1="dispensedMeds" href="#">Dispensed Medications</a></li>
                                <li class="title">Vitals</li>
                                <li><a data-dname1="temperature" href="#">Temperature</a></li>
                                <li><a data-dname1="bloodPressure" href="#">Blood Pressure</a></li>
                                <li><a data-dname1="heartRate" href="#">Heart Rate</a></li>
                                <li><a data-dname1="respiratoryRate" href="#">Respirations</a></li>
                                <li><a data-dname1="oxygenSaturation" href="#">Oxygen Saturation</a></li>
                                <li><a data-dname1="glucose" href="#">Glucose</a></li>
                                <li><a class="clear" data-dname2="clear" href="#">Clear <span class="glyphicon glyphicon-remove"></span></a></li>
                            </ul>
                        </li>
                        <li id="gdata2-menu" class="menu-item">
                            <a class="opt-link">Secondary Dataset</a>
                            <span class="val"></span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <ul class="submenu">
                                <li class="title">Demographics</li>
                                <li><a data-dname2="age" href="#">Age</a></li>
                                <li><a data-dname2="gender" href="#">Gender</a></li>
                                <li><a data-dname2="pregnancyStatus" href="#">Pregnancy Status</a></li>
                                @*
                                <li><a data-dname2="pregnancy_time" href="#">Weeks Pregnant</a></li>
                                <li><a data-dname2="height" href="#">Height</a></li>
                                <li><a data-dname2="weight" href="#">Weight</a></li>
                                <li class="title">Medication</li>
                                <li><a data-dname2="prescribed_meds" href="#">Prescribed Medications</a></li>
                                <li><a data-dname2="dispensed_meds" href="#">Dispensed Medications</a></li>
                                <li class="title">Vitals</li>
                                <li><a data-dname2="temp" href="#">Temperature</a></li>
                                <li><a data-dname2="blood_pressure" href="#">Blood Pressure</a></li>
                                <li><a data-dname2="heart_rate" href="#">Heart Rate</a></li>
                                <li><a data-dname2="resp" href="#">Respirations</a></li>
                                <li><a data-dname2="oxy_sat" href="#">Oxygen Saturation</a></li>
                                <li><a data-dname2="glucose" href="#">Glucose</a></li>
                                *@
                                <li><a class="clear" data-dname2="clear" href="#">Clear <span class="glyphicon glyphicon-remove"></span></a></li>
                            </ul>
                        </li>
                        <li id="gtype-menu" class="menu-item">
                            <a class="opt-link">Graph Type</a>
                            <span class="val"></span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <ul class="submenu">
                                <li><a data-gtype="bar" href="#">Bar Graph</a></li>
                                <li><a data-gtype="pie" href="#">Pie Graph</a></li>
                                <li><a data-gtype="line" href="#">Line Graph</a></li>
                                <li><a data-gtype="scatter" href="#">Scatterplot</a></li>
                                <li><a data-gtype="stacked-bar" href="#">Stacked Bar Graph</a></li>
                                <li><a data-gtype="grouped-bar" href="#">Grouped Bar Graph</a></li>
                                @* <li><a data-gtype="table" href="#">Table</a></li> *@
                                <li><a class="clear" data-dname2="clear" href="#">Clear <span class="glyphicon glyphicon-remove"></span></a></li>
                            </ul>
                        </li>
                        <li id="gfilter-menu" class="menu-item">
                            <a class="opt-link">Filter Date</a>
                            <span class="val">
                                <span class="date">
                                   <span class="start">@viewModel.getStartDate()</span> - <span class="end">@viewModel.getEndDate()</span>
                                </span>
                            </span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <ul class="submenu">
                                <li>Start Date <input type="date" id="startDate" name="startDate" value="@viewModel.getRFCStartDate()" max="@viewModel.getRFCEndDate()" /></li>
                                <li>End Date <input type="date" id="endDate" name="endDate" value="@viewModel.getRFCEndDate()" max="@viewModel.getRFCEndDate()" /></li>
                            </ul>
                        </li>
                        <li id="goptions-menu" class="menu-item">
                            <a class="opt-link noval">Graph Options</a>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <ul class="submenu">
                                @* <li><a href="#">Show Legend</a></li> *@
                                <li><a id="save" href="#">Save As Image</a></li>
                            </ul>
                        </li>
                        <li class="controls">

                            <input type="hidden" id="primaryDataset" name="primaryDataset" value="" />
                            <input type="hidden" id="secondaryDataset" name="secondaryDataset" value="" />
                            <input type="hidden" id="graphType" name="graphType" value="" />

                            <input id="clear-button" class="clear fButton pull-left" type="button" value="Clear" />
                            <input id="submit-button" class="submit fButton pull-right" type="submit" value="Apply" />

                        </li>
                    </ul>
                }

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h1 class="page-header">Research</h1>

                <div class="chart-container">

                    <div class="graph-header">
                        <p id="average" class="stat"><strong>Average:</strong> <span class="val"></span></p>
                        <p id="median" class="stat"><strong>Median:</strong> <span class="val"></span></p>
                        <p id="range" class="stat"><strong>Range:</strong> <span class="val"></span></p>
                    </div>

                    <svg id="graph" class="chart" xmlns:femrdata="http://teamfemr.org"></svg>
                    <img class="loading" src="@routes.Assets.at("img/graph-loader.gif")" alt="loading&hellip;" />
                </div>

                @*
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Header</th>
                                <th>Header</th>
                                <th>Header</th>
                                <th>Header</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1,001</td>
                                <td>Lorem</td>
                                <td>ipsum</td>
                                <td>dolor</td>
                                <td>sit</td>
                            </tr>
                            <tr>
                                <td>1,002</td>
                                <td>amet</td>
                                <td>consectetur</td>
                                <td>adipiscing</td>
                                <td>elit</td>
                            </tr>
                            <tr>
                                <td>1,003</td>
                                <td>Integer</td>
                                <td>nec</td>
                                <td>odio</td>
                                <td>Praesent</td>
                            </tr>
                            <tr>
                                <td>1,003</td>
                                <td>libero</td>
                                <td>Sed</td>
                                <td>cursus</td>
                                <td>ante</td>
                            </tr>
                            <tr>
                                <td>1,004</td>
                                <td>dapibus</td>
                                <td>diam</td>
                                <td>Sed</td>
                                <td>nisi</td>
                            </tr>
                            <tr>
                                <td>1,005</td>
                                <td>Nulla</td>
                                <td>quis</td>
                                <td>sem</td>
                                <td>at</td>
                            </tr>
                            <tr>
                                <td>1,006</td>
                                <td>nibh</td>
                                <td>elementum</td>
                                <td>imperdiet</td>
                                <td>Duis</td>
                            </tr>
                            <tr>
                                <td>1,007</td>
                                <td>sagittis</td>
                                <td>ipsum</td>
                                <td>Praesent</td>
                                <td>mauris</td>
                            </tr>
                            <tr>
                                <td>1,008</td>
                                <td>Fusce</td>
                                <td>nec</td>
                                <td>tellus</td>
                                <td>sed</td>
                            </tr>
                            <tr>
                                <td>1,009</td>
                                <td>augue</td>
                                <td>semper</td>
                                <td>porta</td>
                                <td>Mauris</td>
                            </tr>
                            <tr>
                                <td>1,010</td>
                                <td>massa</td>
                                <td>Vestibulum</td>
                                <td>lacinia</td>
                                <td>arcu</td>
                            </tr>
                            <tr>
                                <td>1,011</td>
                                <td>eget</td>
                                <td>nulla</td>
                                <td>Class</td>
                                <td>aptent</td>
                            </tr>
                            <tr>
                                <td>1,012</td>
                                <td>taciti</td>
                                <td>sociosqu</td>
                                <td>ad</td>
                                <td>litora</td>
                            </tr>
                            <tr>
                                <td>1,013</td>
                                <td>torquent</td>
                                <td>per</td>
                                <td>conubia</td>
                                <td>nostra</td>
                            </tr>
                            <tr>
                                <td>1,014</td>
                                <td>per</td>
                                <td>inceptos</td>
                                <td>himenaeos</td>
                                <td>Curabitur</td>
                            </tr>
                            <tr>
                                <td>1,015</td>
                                <td>sodales</td>
                                <td>ligula</td>
                                <td>in</td>
                                <td>libero</td>
                            </tr>
                        </tbody>
                    </table>
                    *@

                </div>
            </div>
        </div>

}
