@(currentUser: femr.common.dto.CurrentUser, viewModel: femr.ui.models.research.IndexGraphAgeViewModel)

@import femr.ui.views.html.layouts.main

    @additionalStyles = {
        <link rel="stylesheet" href="@routes.Assets.at("css/research.css")">
    }
    @additionalScripts = {
        <script type="text/javascript" src="@routes.Assets.at("js/research/d3.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/research/saveSvgAsPng.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/research/research.js")"></script>
    }

@main("Research", currentUser, styles = additionalStyles, scripts = additionalScripts) {

    <div class="row dropdown">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Item 1</a></li>
                <li><a href="#" data-toggle="dropdown" >Item 2</a></li>
                <li><a href="#">Item 3</a></li>
                <li><a href="#">Item 4</a></li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Research</h1>

            <p>Average Age: @viewModel.getAverage()</p>
            <p>Median Age: @viewModel.getMedian()</p>
            <p>Age Range: @viewModel.getRangeLow - @viewModel.getRangeHigh()</p>

            <button id="save">Save as image&hellip;</button>
            <div class="chart-container">
                <svg id="graph" class="chart"></svg>
            </div>
            <script type="text/javascript">
                @Html("var data = [")
                        @for(a <- 1 to viewModel.getGraphValues.size) {
                            @defining(viewModel.getGraphValues.get(a - 1)) { graphItem =>
                              @Html("{ name: ")"@graphItem.getKey()"@Html(", value: ")@graphItem.getValue()@Html("},")
                            }
                        }
                @Html("];")
            </script>
            <div id="svgdataurl"></div>
            <div id="pngdataurl"></div>
            <canvas style="display:none" height="500" width="960"></canvas>
        </div>
    </div>
}
